header img{
    width:100px;
    height:100px;
}
body{
    background-color:#dbf7f8;
}
header{
    background-color: #a8f1f5;
    height: 105px;
    box-shadow: 0 0 10px #017272;
}
footer{
    background-color: #a8f1f5;
    height: 50px;
    box-shadow: 0 0 10px #017272;
}
header h1{
    color: #0f3f5e;
    font-family: "Mistral",cursive;
    text-shadow: 3px 3px #6babd656, 5px 5px #95c6e756;
    font-size:30px;
}
footer div{
    font-size:1.5em;
    color: black;
}
nav a{
    font-size:25px;
    color: #0f3f5e;
}
nav a:hover{
    color:#1fcecb;
}
nav a:visited{
    color:#ff7373;
}
a:visited{
    color:#1f3139;
}
h3{
    color:#0f3f5e;
}
img{
    max-width:95%;
}
#dress{
    max-width:95%;
}
#sea{
    max-width:95%;
}
table{
    border:1px solid #0f3f5e;
    border-collapse: collapse;
    max-width:97%;
    height:300px;
}
td{
    border:1px solid #0f3f5e;
    font-size:17px;
}

th{
    border-bottom:1px solid #0f3f5e;
    font-size:17px;
    background-color: #19b4b2;
    color: #edf1ff;
}
.long{
    border-left:1px solid #0f3f5e;
    border-right:1px solid #0f3f5e;
}
tr:nth-child(2n){
    background-color: #94faff;
}
tr:nth-child(2n+1){
    background-color: #c9f6f8;
}
.comb{
    background-color: #7cecf0;
    border: 1px solid #05868f;
}
.none{
    border:none;
}
.dow{
    border-bottom: 1px solid #e07f74;
}
#bio{
    width:300px;
    height:150px;
}
.fio{
    width:300px;
}
.top input:hover{
    border:1px solid #11afae;
}
label{
    cursor:pointer;
}
.bord:hover{
    border:1px solid #11afae;
}
